<mat-toolbar color="">
  <span>Пользователи</span>
  <span class="example-spacer">
   <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event?.target?.value)" placeholder="Фильтр...">
    </mat-form-field>
  </div>
  </span>
  <button routerLink="edit" mat-mini-fab color="primary" color="primary">
    <mat-icon matTooltip="Добавить">add</mat-icon>
  </button>
</mat-toolbar>
<!--<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>-->

<div class="example-container">
      <mat-card>
  <table mat-table  [dataSource]="dataSource" matTableResponsive class="my-table" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Login Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Логин </th>
      <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Электронная почта </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Роль </th>
      <td mat-cell *matCellDef="let element"> {{element.role_id}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
      <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.status == 1">check</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <mat-icon matTooltip="Редактировать" class="text-accent" routerLink="edit/{{element.id}}">edit</mat-icon>
        <!--<mat-label>|</mat-label>-->
        <mat-icon matTooltip="Удалить" *ngIf="element.id !== this.AuthService.currentUserValue.body.user_id" class="text-danger" (click)="openDialog('Delete',element)">delete_forever</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource.data?.length"  [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
      </mat-card>
</div>
