mat-sidenav-container {
  position: fixed;
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  width: 100%;
  min-width: 100%;

}

mat-drawer-container {
  background: #eeeeee;
}

mat-sidenav-content {
  /*padding: 25px 25px 25px 25px;*/
  min-height: calc(100vh - 65px);
  background: aliceblue;
}

mat-sidenav {
  width: 250px;
}
main {
  /*display: inline-table;*/
  padding: 30px 50px;
  background: aliceblue;
}

