<app-header (sidenavToggle)="sidenav.toggle()" ></app-header>
<ngx-spinner *ngIf="loading$ | async" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<mat-sidenav-container >
  <mat-sidenav #sidenav role="navigation" mode="side">
    <app-navbar (sidenavClose)="sidenav.close()"></app-navbar>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
     <main>
          <router-outlet></router-outlet>
     </main>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

