<!--<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>-->
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Удалить объект с ID <b>{{local_data.id}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button mat-flat-button color="warn" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>
