<div>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title *ngIf="id; else noid">Редактирование номера с ID: {{id}} </mat-card-title>
            <ng-template #noid>
              <mat-card-title>Создание номера</mat-card-title>
            </ng-template>
            <mat-card-subtitle>Настроки</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="updateForm" class="needs-validation" novalidate="" autocomplete="off">
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Номер</mat-hint>
              <mat-label>Номер</mat-label>
              <input formControlName="value" matInput [value]="value" placeholder="Номер">
            </mat-form-field>
              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Описание</mat-hint>
              <mat-label>Описание</mat-label>
              <input formControlName="desc" matInput [value]="desc" placeholder="Описание">
            </mat-form-field>

              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
                <mat-hint>Зарезервирован до</mat-hint>
                <mat-label>Зарезервирован до</mat-label>
                <input ([formControlName])="reserved_until" matInput  [matDatepicker]="picker" (dateChange)="addEvent($event)" [value]="reserved_until | dateEpoch" placeholder="Зарезервирован до">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="reserved_until | dateEpoch"></mat-datepicker>
              </mat-form-field>
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Заблокирован до</mat-hint>
              <mat-label>Заблокирован до</mat-label>
              <input ([formControlName])="block_until" matInput [matDatepicker]="picker2" (dateChange)="addEvent2($event)" [value]="block_until | dateEpoch" placeholder="Заблокирован до">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 [startAt]="block_until | dateEpoch"></mat-datepicker>
            </mat-form-field>


              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
                <mat-label>ID заказа</mat-label>
                <mat-select formControlName="order_id">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let company of anydata! let i = index" [value]="company.id">
                    {{company.id}}. {{company.name}}
                  </mat-option>
                </mat-select>
                <!-- <mat-hint>{{updateForm.value?.sound}}</mat-hints>-->
              </mat-form-field>


              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
                <mat-label>Входящее правило</mat-label>
                <mat-select formControlName="in_rr_id">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let rule of rules! let i = index" [value]="rule.id!">
                    {{rule?.id}}. {{rule?.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="updateForm.controls['in_rr_id'].invalid && updateForm.controls['in_rr_id'].touched">Пожалуста выберите правило</mat-error>
               <!-- <mat-hint>{{updateForm.value?.sound}}</mat-hints>-->
              </mat-form-field>

              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
                <mat-label>Исходящее правило</mat-label>
                <mat-select formControlName="out_rr_id">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let rule of rules! let i = index" [value]="rule.id!">
                    {{rule?.id}}. {{rule?.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="updateForm.controls['out_rr_id'].invalid && updateForm.controls['in_rr_id'].touched">Пожалуста выберите правило</mat-error>
                <!-- <mat-hint>{{updateForm.value?.sound}}</mat-hints>-->
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="id; else template" (click)="updateNumber()" mat-button>Сохранить</button>
            <ng-template #template>
              <button (click)="addNumber()" mat-button>Добавить</button>
            </ng-template>
            <button (click)="return()" mat-button>Отмена</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
