<div>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title *ngIf="id; else noid">Редактирование правила с ID: {{id}} </mat-card-title>
            <ng-template #noid>
              <mat-card-title>Создание правила</mat-card-title>
            </ng-template>
            <mat-card-subtitle>Настроки</mat-card-subtitle>
            <!--<span class="example-spacer"></span>-->
            <!--<mat-slide-toggle color="primary" (toggleChange)="this.chekedStatus()" [checked]="checked">Статус</mat-slide-toggle>-->
          </mat-card-header>
          <mat-card-content>
            <form  [formGroup]="updateForm" class="needs-validation" novalidate="" autocomplete="off">
            <mat-form-field style="max-width: 50%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Название правила</mat-hint>
              <mat-label>Название правила</mat-label>
              <input formControlName="name" matInput [value]="name" placeholder="Название правила">
            </mat-form-field>
              <mat-form-field style="max-width: 50%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Выражение</mat-hint>
              <mat-label>Выражение</mat-label>
              <input formControlName="contact" matInput [value]="contact" placeholder="Выражение">
            </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="id; else template" (click)="updateRule()" mat-button>Сохранить</button>
            <ng-template #template>
              <button (click)="addRules()" mat-button>Добавить</button>
            </ng-template>
            <button (click)="return()" mat-button>Отмена</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
