<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <!--<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">-->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
            <form [formGroup]="loginForm" class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="name">Name</label>
                <input formControlName="username" id="name" type="text" class="form-control" name="name" value="" required autofocus>
                <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="alert alert-danger">
                  Name is required
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                <input formControlName="email" id="email" type="email" class="form-control" name="email" value="" required>
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="alert alert-danger">
                  Email is invalid
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="password">Password</label>
                <input formControlName="password" id="password" type="password" class="form-control" name="password" required>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger">
                  Password is required
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted">Gender</label>
                <select formControlName="gender" for="gender" class="form-control">
                  <option value="Male" >Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>

              <p class="form-text text-muted mb-3">
                By registering you agree with our terms and condition.
              </p>

              <div class="align-items-center d-flex">
                <button type="submit" class="btn btn-primary ms-auto" (click)="submitForm()">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center" routerLink="/auth/login">
              Already have an account? <a style="cursor: pointer;" class="text-dark">Login</a>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 text-muted">
          Copyright &copy; 2017-2021 &mdash; Your Company
        </div>
      </div>
    </div>
  </div>
</section>
