<mat-toolbar color="">
  <span>Заказы</span>
  <span class="example-spacer">
   <div class="example-header">
    <mat-form-field>
      <input matInput #input (keydown.enter)="applyFilter(input.value)" placeholder="Фильтр...">
    </mat-form-field>
  </div>
  </span>
  <button routerLink="edit" mat-mini-fab color="primary" color="primary">
    <mat-icon matTooltip="Добавить">add</mat-icon>
  </button>
</mat-toolbar>
<!--<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>-->

<div class="example-container">
  <mat-card>
    <table mat-table  [dataSource]="dataSource" class="my-table" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>

      <!-- Login Column -->
      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Организация </th>
        <td mat-cell *matCellDef="let element"> {{element?.customer_name.trim().length > 30 ? element.customer_name.slice(0,30)+'...' : element.customer_name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Договор </th>
        <td mat-cell *matCellDef="let element"> {{element?.name.trim().length > 30 ? element.name.slice(0,30)+'...' : element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> Описание </th>
        <td mat-cell *matCellDef="let element"> {{element?.desc.trim().length > 50 ? element.desc.slice(0,50)+'...' : element.desc}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.status == 1">check</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <mat-icon matTooltip="Редактировать" class="text-accent" routerLink="edit/{{element?.id}}">edit</mat-icon>
          <!--<mat-label>|</mat-label>-->
          <mat-icon matTooltip="Удалить" class="text-danger" (click)="openDialog('Delete',element)">delete_forever</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Ничего не найдено по "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 50, 100, 1000]"></mat-paginator>
  </mat-card>
</div>
