.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-toolbar {
  background: center;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  margin: auto;
  max-width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.text-accent {
  cursor: pointer;
  color: #3595c9;
}
.text-danger {
  cursor: pointer;
  color: #f44336;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  /*display: flex;*/
  position: relative;
  padding: 16px;
  border-radius: 4px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.mat-card>:first-child {
  max-width: 100%;
  min-width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
