<!--
<mat-progress-spinner diameter="60" [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
-->
<div [@myInsertRemoveTrigger]>
  <div [@myInsertRemoveTrigger]>
  <div fxLayout="row wrap" fxLayoutGap="50px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="card" routerLink="../apps/users" style="cursor: pointer">
        <mat-card-header>
          <mat-icon mat-card-avatar>supervisor_account</mat-icon>
          <mat-card-title>Пользователей</mat-card-title>
          <mat-card-subtitle>{{users}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="card" routerLink="../apps/orders" style="cursor: pointer">
        <mat-card-header>
          <mat-icon mat-card-avatar>groups</mat-icon>
          <mat-card-title>Заказов</mat-card-title>
          <mat-card-subtitle>{{orders}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="card" routerLink="../apps/numbers" style="cursor: pointer">
        <mat-card-header>
          <mat-icon mat-card-avatar>local_phone</mat-icon>
          <mat-card-title>Номеров</mat-card-title>
          <mat-card-subtitle>{{numbers}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="card" routerLink="../apps/rules" style="cursor: pointer">
        <mat-card-header>
          <mat-icon mat-card-avatar>verified_user</mat-icon>
          <mat-card-title>Правил</mat-card-title>
          <mat-card-subtitle>{{rules}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
</div>
