<mat-toolbar color="">
  <span>Правила</span>
  <span class="example-spacer">
   <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event?.target?.value)" placeholder="Фильтр...">
    </mat-form-field>
  </div>
  </span>
  <button routerLink="edit" mat-mini-fab color="primary" color="primary">
    <mat-icon matTooltip="Добавить">add</mat-icon>
  </button>
</mat-toolbar>
<!--<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>-->

<div class="example-container">
  <mat-card>
    <table mat-table  [dataSource]="dataSource" #mytable class="my-table" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>

      <!-- Login Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Контакт </th>
        <td mat-cell *matCellDef="let element"> {{element?.contact}} </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
        <td mat-cell *matCellDef="let element"> {{element?.desc}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
        <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.status == 1">check</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <mat-icon matTooltip="Редактировать" class="text-accent" routerLink="edit/{{element?.id}}">edit</mat-icon>
<!--          <mat-label>|</mat-label>-->
          <mat-icon (click)="openDialog('Delete',element)" matTooltip="Удалить" class="text-danger">delete_forever</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource.data?.length" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
  </mat-card>
</div>

