/*a{
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}*/
/*.nav-caption{
  display: inline-block;
  padding-left: 6px;
}*/

.mat-icon {
  margin-right: 8px;
}

.mat-nav-list a.active {
  background: rgba(63, 135, 245, 0.1);
  transform: scaleY(1);
  opacity: 1;
  color: #3263a4;
}
.mat-nav-list a {
color: rgba(42, 42, 42, 0.75);
}
