<mat-nav-list>
  <a mat-list-item routerLink="dashboard" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>dashboard</mat-icon> <span class="nav-icon">Дайджест</span>
  </a>
  <a mat-list-item routerLink="apps/users" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>supervisor_account</mat-icon> <span class="nav-icon">Пользователи</span>
  </a>
  <a mat-list-item routerLink="apps/orders" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>groups</mat-icon><span class="nav-icon">Заказы</span>
  </a>
  <a mat-list-item routerLink="apps/numbers" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>local_phone</mat-icon><span class="nav-icon">Номера</span>
  </a>
  <a mat-list-item routerLink="apps/rules" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>verified_user</mat-icon><span class="nav-icon">Правила</span>
  </a>
</mat-nav-list>
<div style="display: block; width: 100%; height: 25px;" class="ng-tns-c113-0"></div>
<span style="font-size: 12px; position: fixed; bottom: 0px; background-color: white; padding: 5px;"> Версия интерфейса 0.0.1
 </span>
