footer {
/*  background-color: #1B5E20;
  height: 10%;
  width: 100%;
 !* z-index: 1000;*!
  position: inherit;
  bottom: 0;
  left: 0;*/
  display: flex;
  height: 66px;
  align-items: center;
  border-top: 1px solid #edf2f9;
  /*justify-content: space-between !important;*/
  justify-content: center;
  align-content: center;
  text-align: center;
  background: #eeeeee;
  /*position: absolute;*/
}
