<div class="h-100" style="background-image: url(assets/icons/runtel.jpg); background-size: cover;">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center" style="margin-top: 10rem;">
          <!--<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">-->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-center ">Вход<hr></h1>
            <form [formGroup]="loginForm" class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">E-Mail</label>
                <input formControlName="username" id="email" type="email" class="form-control" name="email" value="" required autofocus>
                <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="alert alert-danger">
                  Неверный E-mail адрес
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label class="text-muted" for="password">Пароль</label>
              <!--    <a href="forgot.html" class="float-end">
                    Forgot Password?
                  </a>-->
                </div>
                <input formControlName="password" id="password" type="password" class="form-control" name="password" required>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="alert alert-danger">
                </div>
              </div>

              <div class="mb-2 w-100">
               <!-- <div class="form-check">
                  <input type="checkbox" name="remember" id="remember" class="form-check-input">
                  <label for="remember" class="form-check-label">Remember Me</label>
                </div>-->
                <button style="width: inherit;" type="button" class="btn btn-primary" (click)="submitForm()">
                  Войти
                </button>
              </div>
            </form>
          </div>
          <div class="text-center card-footer py-3 border-0 text-muted">
            Copyright © {{year | date: 'yyyy'}} RUNTEL. All rights reserved.
          </div>
<!--          <div class="card-footer py-3 border-0">
            <div class="text-center" routerLink="/auth/register">
              Don't have an account? <a style="cursor: pointer" class="text-dark">Create One</a>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
