<!--
<ngx-spinner *ngIf="loading$ | async" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
-->
<mat-toolbar color="">
  <span>Номера</span>
  <span class="example-spacer">
   <div class="example-header">
    <mat-form-field>
      <input matInput #input (keydown.enter)="applyFilter(input.value)" placeholder="Фильтр...">
    </mat-form-field>
  </div>
  </span>
  <button routerLink="edit" mat-mini-fab color="primary" color="primary">
    <mat-icon matTooltip="Добавить">add</mat-icon>
  </button>
</mat-toolbar>
<!--<button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>-->

<div class="example-container">
  <mat-card>
    <table mat-table  [dataSource]="dataSource" class="my-table" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>

      <!-- Login Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Номер </th>
        <td mat-cell *matCellDef="let element"> {{element?.value}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> Описание </th>
        <td mat-cell *matCellDef="let element"> {{!!element?.desc ? element.desc : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="reserved_until">
        <th mat-header-cell *matHeaderCellDef> Зарезервирован до </th>
        <td mat-cell *matCellDef="let element"> {{!!element?.reserved_until ? (element?.reserved_until | epochDate) : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="block_until">
        <th mat-header-cell *matHeaderCellDef> Заблокирован до </th>
        <td mat-cell *matCellDef="let element"> {{!!element?.block_until ? (element?.block_until | epochDate) : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef> ID заказа </th>
        <td [class.button]="!!element.order_id" mat-cell *matCellDef="let element" [routerLink]="!!element?.order_id ? ['../orders/edit', element?.order_id] : null">{{!!element?.order_id ? anydata[element?.order_id] : '-'}}</td>
      </ng-container>

      <ng-container matColumnDef="in_rr_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Вх. правило </th>
        <td [class.button]="!!element.in_rr_id" mat-cell *matCellDef="let element" [routerLink]="!!element?.in_rr_id ? ['../rules/edit', element?.in_rr_id] : null"> {{!!element?.in_rr_id ? anydata2$[element?.in_rr_id] : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="out_rr_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Исх. правило </th>
        <td [class.button]="!!element.out_rr_id" mat-cell *matCellDef="let element" [routerLink]="!!element?.out_rr_id ? ['../rules/edit', element?.out_rr_id] : null"> {{!!element?.out_rr_id ? anydata2$[element?.out_rr_id] : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Дествия </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <mat-icon matTooltip="Редактировать" class="text-accent" routerLink="edit/{{element?.id}}">edit</mat-icon>
          <!--<mat-label>|</mat-label>-->
          <mat-icon (click)="openDialog('Delete',element)" matTooltip="Удалить" class="text-danger">delete_forever</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 50, 100, 1000]"></mat-paginator>
  </mat-card>
</div>
