<!--
<ngx-spinner *ngIf="loading$ | async" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
-->
<div>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title *ngIf="id; else noid">Редактирование пользователя с ID: {{id}} </mat-card-title>
            <ng-template #noid>
              <mat-card-title>Создание пользователя</mat-card-title>
            </ng-template>
            <mat-card-subtitle>Настроки</mat-card-subtitle>
            <span class="example-spacer"></span>
            <mat-slide-toggle color="primary" (toggleChange)="this.chekedStatus()" [checked]="checked">Статус</mat-slide-toggle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="updateForm" class="needs-validation" novalidate="" autocomplete="off">
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Логин</mat-hint>
              <mat-label>Логин</mat-label>
              <input formControlName="login" matInput [value]="login" placeholder="Логин">
            </mat-form-field>
              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Пароль</mat-hint>
              <mat-label>Пароль</mat-label>
              <mat-icon (click)="GeneratePwd()" style="cursor: pointer" matSuffix>edit</mat-icon>
              <input formControlName="password" matInput [value]="pass" placeholder="Пароль">
            </mat-form-field>
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Имя</mat-hint>
              <mat-label>Имя</mat-label>
              <input formControlName="name" matInput [value]="name" placeholder="Имя">
            </mat-form-field>
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Фамилия</mat-hint>
              <mat-label>Фамилия</mat-label>
              <input formControlName="surname" matInput [value]="surname" placeholder="Фамилия">
            </mat-form-field>
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Электронная почта</mat-hint>
              <mat-label>Электронная почта</mat-label>
              <input formControlName="email" matInput [value]="email" placeholder="E-mail">
            </mat-form-field>
              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
                <mat-hint>Роль</mat-hint>
                <mat-label>Роль</mat-label>
                <input formControlName="role_id" matInput [value]="role_id" placeholder="Роль">
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="id; else template" (click)="saveUser()" mat-button>Сохранить</button>
            <ng-template #template>
              <button (click)="addUser()" mat-button>Добавить</button>
            </ng-template>
            <button (click)="return()" mat-button>Отмена</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
