/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
/*html, body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}*/

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');


html, body {
  margin: 0;
  height: 100%;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
* {
  font-family: 'Poppins', sans-serif;
}

/*::-webkit-scrollbar {
  width: 10px;
}

!* Track *!
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

!* Handle *!
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

!* Handle on hover *!
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}*/

.mat-drawer-transition .mat-drawer-content {
  transition-duration: unset!important;
  transition-timing-function: unset!important;
  transition-property: unset!important;
}
