<div>
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title *ngIf="id; else noid">Редактирование компании с ID: {{id}} </mat-card-title>
            <ng-template #noid>
              <mat-card-title>Создание компании</mat-card-title>
            </ng-template>
            <mat-card-subtitle>Настроки</mat-card-subtitle>
            <span class="example-spacer"></span>
            <mat-slide-toggle color="primary" (toggleChange)="this.chekedStatus()" [checked]="checked">Статус</mat-slide-toggle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="updateForm" class="needs-validation" novalidate="" autocomplete="off">
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Название клиента</mat-hint>
              <mat-label>Название клиента</mat-label>
              <input formControlName="customer_name" matInput [value]="customer_name" placeholder="Название клиента">
            </mat-form-field>
              <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Название договора</mat-hint>
              <mat-label>Название договора</mat-label>
              <input formControlName="name" matInput [value]="name" placeholder="Название договора">
            </mat-form-field>
            <mat-form-field style="max-width: 33%; width: 50%; padding: 20px" appearance="outline">
              <mat-hint>Описание</mat-hint>
              <mat-label>Описание</mat-label>
              <input formControlName="desc" matInput [value]="desc" placeholder="Описание">
            </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="id; else template" (click)="updateOrders()" mat-button>Сохранить</button>
            <ng-template #template>
              <button (click)="addOrders()" mat-button>Добавить</button>
            </ng-template>
            <button (click)="return()" mat-button>Отмена</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
