a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
mat-toolbar {
  border-radius: 3px;
  flex: 1 1 auto;
  z-index: 2;
  background: #eeeeee;
  box-shadow: 1px 0 10px rgb(0 0 0 / 50%);
}
@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
.example-spacer {
  flex: 1 1 auto;
}

.profile-pic {
  width: 40px;
  font-size: 40px;
}
