<mat-toolbar color="">
  <button mat-icon-button (click)="onToggleSidenav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>RTU Dashboard</span>
  <span class="example-spacer"></span>
  <button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <!--<mat-icon class="profile-pic">account_circle</mat-icon>-->
    <ngx-avatar size="45" [round]="true" [name]="this.avatar"></ngx-avatar>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Выход</span>
      </button>
    </span>
  </mat-menu>

</mat-toolbar>


